﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Manage Residents</h1>
    <ul>
        <li><a asp-controller="ApartmentResident" asp-method="Create">Add Tenent</a></li>
        <li><a asp-controller="ApartmentResident" asp-method="Index">See Tenent</a></li>
    </ul>
</div>
